<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SuperMap.ZS.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <SuperMap.ZS.Data.Properties.Settings>
            <setting name="Connection" serializeAs="String">
                <value>Database='zsdatasource';Data Source='localhost';User Id='root';Password='admin';charset='utf8';pooling=true</value>
            </setting>
            <setting name="WorkspaceInfo" serializeAs="String">
                <value>workspaceinfo</value>
            </setting>
            <setting name="FTP_User" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="FTP_Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="FTP_IP" serializeAs="String">
                <value>10.10.124.128</value>
            </setting>
        </SuperMap.ZS.Data.Properties.Settings>
    </userSettings>
</configuration>